<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign In</title>
  <link rel="stylesheet" href="Bootstrap_files/bootstrap.css">
  <style>
  body
  {
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 18px;
     background-color : #E9967A;

  }
  </style>
  </head>
  <body>



<h1>New Slot</h1>

</br><div class="panel panel-default">
<div class="panel-heading panel-heading-custom">
       <h3 class="panel-title">Fix TimeSlot Here</h3>
        <div class="panel-body">
<%= render 'form' %>

<%= link_to 'Back', slots_path %>
</div>
</div>
</div></body>
</html>