<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign In</title>
  <link rel="stylesheet" href="Bootstrap_files/bootstrap.css">
  <style>
  .jumbotron{
  background-color:#FA8072;
  color:black;
   background-size: cover;
  padding-top: 10%;
      padding-bottom: 10%;
      width: 60%;
  }
  body
  {
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 18px;
     background-color :  #E9967A;


  }
  </style>
  </head>
  <body>


<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyDoctor</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" target="_blank">Home</a></li>
                <li><a href="#" target="_blank">About</a></li>
                <li><a href="#" target="_blank">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<h3>My Doctor</h3>
<p>
<h5>My Doctor is the first fully-integrated, automatic and real time online appointment booking system.
Quick and easy to use: integrates with your practice management software, so there's nothing new to learn in order to offer online appointments to your patients.
Designed to improve Practice efficiencies, and available on computer, iPhone and Android phones.
</p></h5>


<center><%= image_tag("doc.jpg", :alt => "rss feed" ) %></center></br></br>
<h4>Booking Appointments Online: Modern Convenience for Healthcare Patients and Professionals</h4>
<p><h5>
The latest studies have shown a growing demand amongst patients for the ability to book their healthcare appointments online. 
In this day in age, booking everything from hotels and flights to restaurant reservations all online is commonplace, not to mention convenient. Patients can now gain the same benefits when it comes to booking their medical appointments. The online booking system is also highly favored by hospitals, doctors, dentists and their staff as it saves them substantial time for scheduling appointments and allows them to allocate resources to other, more pertinent areas. 
</p></h5></br></br>
</p>
<h4>Complex Appointment Requirements? Not a Problem</h4>
<p><h5>
Not every medical appointment is straightforward. In addition to seeing a doctor, the treatment of a patient will sometimes require an assistant or a specific type of equipment for their appointment. Although this is a common requirement, it takes a lot of time to schedule manually. However, our system is designed to accommodate such requirements and is able to coordinate these factors at the same time the appointment is being scheduled online. When a patient makes an appointment request, the system is able to evaluate the patient’s needs for that appointment and automatically check the availability of the doctors, any assisting staff, and equipment. This means coordinating various calendars and the availability of personnel and coming up with various time slots for the patient’s appointment, thus providing them with multiple options to choose from. Not only does this facilitate the patient’s access to making an appointment, it also frees up the staff who would otherwise spend tedious amounts of time checking the availability of these resources manually. </h5>
</p>



</body>
</html>