<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>home</title></head>
  <link rel="stylesheet" href="Bootstrap_files/bootstrap.css">

<body>
<h1>New Appointment</h1>
</br><div class="panel panel-default">
<div class="panel-heading panel-heading-custom">
       <h3 class="panel-title">All Appointments</h3>
        <div class="panel-body">
<%= render 'form' %>

<%= link_to 'Back', appointments_path %>
</div>
</div>
</div>
</body>
</html>